html, body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

.foot {
    text-align: center;
}

#display {
    height: 800px;
    width: 1000px;
    border: 1px black solid;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.display-Box {
    text-align: center;
}

.hd {
    text-align: center;
}

#robot {
    display: none;
    height: 50px;
    width: 50px;
}

#calculationEquations, #information {
    text-align: center;
    padding: 30px;
    font-size: 15px;
}